<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lag.utlookup" >

    <!--
    This is overridden in the build.gradle for
         the app module. I don't know why..
    <uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="22" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ChooseCampusActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchCoursesActivity"
            android:label="@string/title_activity_search_courses" >
        </activity>
        <activity
            android:name=".ViewCourseActivity"
            android:label="@string/title_activity_view_course"
            android:parentActivityName=".SearchResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.lag.utlookup.SearchCoursesActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".SearchCoursesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.lag.utlookup.SearchCoursesActivity" />
        </activity>
    </application>

</manifest>
